body {
    color: $color-text;
    font-size: 18px;
    line-height: 1.5;
    font-family: $font-primary;
    outline: none;
    word-wrap: break-word;
    font-weight: 400;
    overflow-x: hidden;
}



*, *:before, *:after {
    outline: none;
    box-sizing: inherit;
}


.container {
    &.sm {
        max-width: 960px;
    }
}
