.bg-primary {
    background-color: $color-primary;
}

.bg-secondary {
    background-color: $color-secondary;
}

.color-primary {
    color: $color-primary;
}

.color-secondary {
    color: $color-secondary;
}

.color-white {
    color: #fff;
}


h2 {
    font-size: 40px;
    span {
        color: $color-secondary;
    }
}

h4 {
    font-size: 20px;

}
.max-300 {
    max-width: 300px;
}
